html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
$primary: #1c374a;
$scent: rgb(69, 69, 209);
nav {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 65px;
  z-index: 999;
  div {
    display: flex;
    background-color: #1c374a;
    height: 100%;
    width: 100%;
    div.left {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        text-transform: uppercase;
        color: white;
        font-family: sans-serif;
        cursor: not-allowed;
        &::after {
          content: "hub";
          color: rgb(69, 69, 209);
        }
      }
    }
    div.center {
      flex-grow: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        width: 70%;
        margin-inline: auto;

        height: 45px;
        background-color: $primary;
        button {
          width: 20%;
          border-style: none;
          border: 1px $primary solid;
          border-right: none;
          background-color: rgb(69, 69, 209);
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          cursor: pointer;
          svg {
            cursor: pointer;
            color: white;
          }
        }
        input {
          width: 80%;
          outline-style: none;
          height: 100%;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
          caret-color: $scent;
          color: $scent;

          font-weight: 700;
          font-family: sans-serif;
        }
      }
    }
    div.right {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      div {
        display: none;
      }
      a {
        color: white;
        font-weight: bolder;
      }
      a:first-child {
        color: $scent;
        svg {
          font-size: 35px;
        }
      }
    }
  }
}
div.side-bar {
  display: none;
}
.see {
  display: block;
  height: calc(100vh - 65px);
  width: 90%;
  background-color: $primary;
  position: fixed;
  z-index: 99999;
  right: 0;
  transition-property: all;
  transition-duration: 3s;
  transform: translateX(0px);
  color: white;
  div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    a {
      border-right: 7px white solid;
      display: block;
      color: whitesmoke;
      text-align: center;
      width: 100%;
      height: 70px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.intro {
  height: calc(100vh - 50px);

  width: 100%;
  background-image: url("../public/slider2.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;

  div {
    height: 100%;
    width: 100%;
    background-color: rgba(87, 78, 78, 0.4);
    div {
      text-align: center;
      width: 50%;
      margin-left: 8%;
      height: 100px;
      position: absolute;
      top: 20%;
      p {
        color: white;
        font-size: 50px;
        font-weight: 700;
        font-family: sans-serif;
      }
      button {
        width: 35%;
        height: 50px;
        background-color: $scent;
        color: white;
        border-style: none;
        border: 2px white solid;
        border-radius: 10px;
        font-family: sans-serif;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
.title1 {
  text-align: center;
  h2 {
    text-transform: capitalize;
  }
  div {
    width: 90px;
    height: 7px;
    background-color: $scent;
    margin-inline: auto;
    border-radius: 7px;
  }
}
.trends {
  margin-block: 15px;
  border-left: 5px white solid;
  div {
    display: inline-block;
    width: 200px;
    height: 450px;

    background-color: $primary;
    margin-bottom: 5px;
    border-right: 5px white solid;
    div {
      border: none;
      margin: 0;
      position: relative;
      width: 100%;
      height: 60%;
    }
  }
  section {
    text-align: center;
    h3 {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
    }
    div {
      color: $scent;
    }
    p {
      color: white;
      font-size: 13px;
    }
    button {
      height: 37px;
      width: 60%;
      margin-inline: auto;
      background-color: $scent;
      display: flex;
      justify-content: center;
      align-items: center;
      border-style: none;
      border-radius: 6px;
      gap: 3px;
      cursor: pointer;
      p {
        font-weight: bold;
      }
      svg {
        color: white;
      }
    }
  }
}
footer {
  height: 60px;
  background-color: $primary;
  width: 100%;
  display: block;
  div {
    height: 100%;
    width: 80%;
    margin-inline: auto;
    text-align: center;

    p {
      color: white;
      font-weight: bolder;
      font-size: 14px;
      span {
        text-transform: uppercase;
        color: $scent;
      }
    }
  }
}
.box-office {
  margin-top: 30px;
  div {
    div {
      display: inline-block;
      height: 400px;
      width: 220px;
      background-color: $primary;
      margin-bottom: 5px;
      border-right: 5px white solid;
      div {
        border: none;
        margin: 0;
        position: relative;
        width: 100%;
        height: 60%;
      }
      section {
        margin: 0;
        border: 0;
        text-align: center;
        color: white;
        h4 {
          color: white;
          font-size: 14px;
        }
        p {
          font-size: 10px;
          font-weight: bold;
          span {
            font-weight: 15px;
            font-weight: bolder;
            font-family: sans-serif;
          }
        }
        small {
          font-weight: 8px;
        }
      }
    }
  }
}
.view-video {
  iframe {
    margin-inline: 1%;
  }
  section {
    text-align: center;
    position: relative;
    h1 {
      color: $scent;
    }
    p {
      color: $scent;
      span {
        font-size: 15px;
        font-weight: 800;
      }
    }
    button {
      position: absolute;
      left: 4px;
      top: 0;
      height: 45px;
      width: 60px;
      background-color: $primary;
      border-style: none;
      border-radius: 7px;
      color: white;
      cursor: pointer;
      &:hover,
      :active {
        background-color: white;
        color: $primary;
        border: 2px $primary solid;
        svg {
          border: none;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .trends {
    div {
      width: 25%;
    }
  }
  .box-office {
    div {
      div {
        width: 25%;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .trends {
    div {
      width: 33.3%;
    }
  }
  .box-office {
    div {
      div {
        width: 33.3%;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  nav {
    div {
      div.left {
        justify-content: left;
        h1 {
          font-size: 15px;
          margin-left: 9px;
        }
      }
      div.center {
        div {
          width: 100%;
        }
      }
      div.right {
        margin-left: 15px;
        flex: 1;
        justify-content: right;
        div {
          width: 35px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 8px;
          gap: 4px;
          cursor: pointer;
          div {
            width: 100%;
            height: 4px;
            background-color: white;
            border-radius: 3px;
          }
        }
        a {
          display: none;
        }
      }
    }
  }
  .intro {
    div {
      div {
        width: 70%;
        p {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }
  }
  .trends {
    div {
      width: 48%;
    }
  }
  .box-office {
    div {
      div {
        width: 48%;
      }
    }
  }
  footer {
    div {
      p {
        font-size: 10px;
      }
    }
  }
  div.side-bar {
    display: block;
    height: calc(100vh - 65px);
    width: 90%;
    background-color: white;
    position: fixed;
    z-index: 99999;
    right: 0;
    transition-property: all;
    transition-duration: 2s;
    transform: translateX(650px);
    div {
      display: flex;
      flex-direction: column;
      a {
        text-align: center;
      }
    }
  }
}
